<script setup lang="ts">
import { Shiki, useHighlighter } from '~/composables/useShiki'
import usingComponentSample from '~/sample/usingComponent.sample?raw'
import usingComposableSample from '~/sample/usingComposable.sample?raw'

const componentCodeRaw = ref(usingComponentSample)
</script>

<template>
  <div>
    <textarea v-model="componentCodeRaw" name="script" p="6" rounded="lg" border="1px solid #aaaaaa70" />
    <Shiki lang="vue" :code="componentCodeRaw" overflow="auto" />
  </div>
</template>

